@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

body{
  background-image: linear-gradient(to right, purple, #292929);
  color: whitesmoke;
}

h1{
  font-family: 'Cinzel', serif;
  text-align: center;
}

.firstTitle{
  margin-top: 10vh;
}

.matrixContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.matrix{
  margin-top: 10vh;
  width: 300px;
  box-shadow: 3px 3px 6px black;
  padding: 5px;
}

.matrix:hover{
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.matrixTxt{
  margin: 5px;
}

a{
  color: whitesmoke;
}

footer{
  text-align: center;
  margin-top: 30vh;
}
